@font-face{
	font-family: no_continue;
	src: url("../fonts/gomarice_no_continue.ttf");
}

@font-face{
	font-family: alphakind;
	src: url("../fonts/Alphakind.ttf");
}

body{
	background-color:#39cecb;
	overflow:scroll;
}

main{
	background-color:white;
	display:inline-flex;
	justify-content:center;
	width:550px;
	height:auto;
	padding:10px;
	margin:5%;
}

#endtext{
	font-family:alphakind;
}

#placeholder{
	height:420px;
	width:520px;
}


#playagain{
	text-decoration:none;
	color:black;
	border:3px solid black;
	padding:5px;
}

a:hover{
	background-color:#ffec00;
}




