@font-face{
	font-family: no_continue;
	src: url("../fonts/gomarice_no_continue.ttf");
}


@font-face{
	font-family:alphakind;
	src:url("../fonts/Alphakind.ttf");
}
body{
	margin:0px;
	font-family: no_continue;
	color:black;
	font-size:25px;
	background-color:white;
	text-align:center;
	overflow: hidden;
}


nav{
	display:flex;
	height:85px;
}

#logo{
	height:85px;
}

.topbar ul{
	list-style-type: none;
	background-color: white;
	overflow: hidden;
	padding:0px;
	margin:0px;
	width:100vw;
}

.topbar a{
	color:black;
	text-decoration:none;
	display:block;
	padding:30px;
	margin:0px;
	position: relative;
	left:-50px;
} 

.topbar a:hover{
	background-color:#ffec00;
}

.topbar li{
	display:inline-block;
}

#aboutguy{
	height:86vh;
	float:left;
}

.heading{
	text-align: left;
	font-family: no_continue;
	position:relative;
	left:25px;
	margin:15px
}

.maintext{
	text-align:left;
	font-size:25px;
	font-family: alphakind;
	position: relative;
	left:25px;
	word-wrap:break-word;
	width:1000px;
}
