@font-face{
	font-family:alphakind;
	src:url("../fonts/Alphakind.ttf");
}
body{
	background-color:white;
	overflow:hidden;
}

#aboutguy{
	height:86vh;
	float:left;
}

.heading{
	text-align: left;
	font-family: no_continue;
	position:relative;
	left:25px;
	margin:15px
}

.maintext{
	text-align:left;
	font-size:25px;
	font-family: alphakind;
	position: relative;
	left:25px;
	word-wrap:break-word;
	width:1000px;
}
