@font-face{
	font-family: no_continue;
	src: url("../fonts/gomarice_no_continue.ttf");
}

@font-face{
	font-family: alphakind;
	src: url("../fonts/Alphakind.ttf");
}

body{
	margin:0px;
	font-family: no_continue;
	color:black;
	font-size:25px;
	background-color:white;
	text-align:center;
	overflow: hidden;
}


nav{
	display:flex;
	height:85px;
}

#logo{
	height:85px;
}

.topbar ul{
	list-style-type: none;
	background-color: white;
	overflow: hidden;
	padding:0px;
	margin:0px;
	width:100vw;
}

.topbar a{
	color:black;
	text-decoration:none;
	display:block;
	padding:30px;
	margin:0px;
	position: relative;
	left:-50px;
} 

.topbar a:hover{
	background-color:#ffec00;
}

.topbar li{
	display:inline-block;
}

#contactguy{
	height:86vh;
	float:left;
}

#maintext{
	text-align:center;
	font-size:25px;
	font-family: alphakind;
	position:relative;
	bottom:-80px;
}

#sendbutton{
	font-family:alphakind;
	background-color:#39cecb;
	font-size:25px;
}

#sendbutton:hover{
	background-color:#ffec00;
}

#resetbutton{
	font-family:alphakind;
	background-color:#39cecb;
}

#resetbutton:hover{
	background-color:#ffec00;
}

input[type="text"]{
	border-width:3px;
	border-color: black;
}