@font-face{
	font-family: no_continue;
	src: url("../fonts/gomarice_no_continue.ttf");
}

@font-face{
	font-family: alphakind;
	src: url("../fonts/Alphakind.ttf");
}

body{
	background-color:white;
	overflow:hidden;
}


#contactguy{
	height:86vh;
	float:left;
}

#maintext{
	text-align:center;
	font-size:25px;
	font-family: alphakind;
	position:relative;
	bottom:-80px;
}

#sendbutton{
	font-family:alphakind;
	background-color:#39cecb;
	font-size:25px;
}

#sendbutton:hover{
	background-color:#ffec00;
}

#resetbutton{
	font-family:alphakind;
	background-color:#39cecb;
}

#resetbutton:hover{
	background-color:#ffec00;
}

input[type="text"]{
	border-width:3px;
	border-color: black;
}

input[type="email"]{
	border-width:3px;
	border-color:black;
}

textarea{
	width:250px;
	height:90px;
	border-width:3px;
	border-color:black;
}