@font-face{
	font-family: no_continue;
	src: url("../fonts/gomarice_no_continue.ttf");
}

@font-face{
	font-family: alphakind;
	src: url("../fonts/Alphakind.ttf");
}

body{
	background-color:white;
	overflow:scroll;
}

main{
	position:relative;
	right:85px;
	display:inline-block;
	width:600px;
}

#contactguy{
	height:100vh;
	float:left;
}

#maintext{
	display:inline-flex;
	justify-content:center;
	flex-direction:column;
	font-size:30px;
	font-family: alphakind;
	margin:7%;
	right:80px;
}

#sendbutton{
	font-family:alphakind;
	background-color:#39cecb;
	font-size:25px;
}

#sendbutton:hover{
	background-color:#ffec00;
}

#resetbutton{
	font-family:alphakind;
	background-color:#39cecb;
}

#resetbutton:hover{
	background-color:#ffec00;
}

input[type="text"]{
	border-width:3px;
	border-color: black;
}

input[type="email"]{
	border-width:3px;
	border-color:black;
}

textarea{
	width:260px;
	height:90px;
	border-width:3px;
	border-color:black;
	padding:10px;
	margin:3%;
}