@font-face{
	font-family: no_continue;
	src: url("../fonts/gomarice_no_continue.ttf");
}

@font-face{
	font-family: alphakind;
	src: url("../fonts/Alphakind.ttf");
}

body{
	background-color:white;
	overflow:auto;
}


#forumguy{
	height:100vh;
	float:left;
}

#forum{
	display:inline-flex;
	justify-content:center;
	flex-direction:column;
	margin:2%;
	right:80px;
	width:870px;
	overflow:scroll;
}