@font-face{
	font-family: no_continue;
	src: url("../fonts/gomarice_no_continue.ttf");
}

@font-face{
	font-family: alphakind;
	src: url("../fonts/Alphakind.ttf");
}

body{
	background-color:white;
	overflow:scroll;
}


#forumguy{
	height:100vh;
	float:left;
}