body{
	background-color:#39cecb;
	overflow:scroll;
}

main{
	display:inline-flex;
	justify-content:center;
	align-items: center;
	width:550px;
	padding:10px;
	margin:5%;

}

#runningguy{
	margin:auto;
	display:block;
	position: relative;
	top:-24px;
}

#startsection{
	position:relative;
	top: 20px;
	left:-550px;
}

#startbutton{
	font-family:no_continue;
	font-size:80px;
	position: absolute;
	transform:rotate(33deg);
}

#startbutton:hover{
	background-color:#ffec00;
	display:inline-block;
}

