body{
	background-color:#39cecb;
	overflow:hidden;
}

#runningguy{
	margin:auto;
	display:block;
	position: relative;
	top:-24px;
}
#startsection{
	position:relative;
	top: -255px;
	left:-255px;
}

#startbutton{
	font-family:no_continue;
	font-size:80px;
	position: absolute;
	transform:rotate(32deg);
}

#startbutton:hover{
	background-color:#ffec00;
	display:inline-block;
}

