body{
	background-color:#39cecb;
	overflow:scroll;
}

main{
	display:inline-flex;
	flex-grow:1;
	justify-content:center;
	align-items: center;
	width:550px;
	padding:10px;
	margin-top:7%;
}


#runningguy{
	margin:5%;
	display:block;
	position: relative;
	top:-24px;
}

#startsection{
	position:relative;
	top: 20px;
	left:-550px;
	margin:0px;
}

#startbutton{
	font-family:no_continue;
	font-size:80px;
	position: absolute;
	transform:rotate(34deg);
}

#startbutton:hover{
	background-color:#ffec00;
	display:inline-block;
}

