@font-face{
	font-family: no_continue;
	src: url("../fonts/gomarice_no_continue.ttf");
}

@font-face{
	font-family: alphakind;
	src: url("../fonts/Alphakind.ttf");
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .sidebar {
    width: 30%; 
  }
} 

body{
	background-color:#39cecb;
	overflow:scroll;
}

main{
	background-color:white;
	display:inline-flex;
	justify-content:space-around;
	width:80%;
	max-width:550px;
	padding:15px;
}

table{
	margin:auto;
	border:3px solid black;
}

td{
	font-family: alphakind;
	text-align:left;
	padding:7px;
	font-size:20px;
}

a{
	text-decoration:none;
	color:black;
}

a:hover{
	background-color:#ffec00;
}

#placeholder{
	height:420px;
	width:520px;
}

#prompt{
	font-size: 25px;
	word-wrap:break-word;
	width:500px;
	font-family: no_continue;
}

