@font-face{
	font-family: no_continue;
	src: url("../fonts/gomarice_no_continue.ttf");
}

@font-face{
	font-family: alphakind;
	src: url("../fonts/Alphakind.ttf");
}

body{
	background-color:white;
	overflow:auto;
}


#forumguy{
	height:100vh;
	float:left;
}

#forum{
	margin:2%;
	z-index:10%;
	height:400px;
	overflow-y:auto;
}

.notice{
	font-family:alphakind;
	margin:0px;
	color:gray;
	font-size:15px;
	display:inline-flex;
	width:600px;
	justify-content:center;
}

#main{
	position:relative;
	right:80px;
	display:inline-block;
	width:600px;
}