body{
	background-color:#39cecb;
	overflow:scroll;
}

center{
	display:flex;
	justify-content:center;
	align-items: center;
	min-height:100vh;
	margin:0;
	width:100%;
}

#runningguy{
	margin:auto;
	display:block;
	position: relative;
	top:-24px;
	padding:50px;
}
#startsection{
	position:relative;
	top: -310px;
	left:-250px;
}

#startbutton{
	font-family:no_continue;
	font-size:80px;
	position: absolute;
	transform:rotate(33deg);
}

#startbutton:hover{
	background-color:#ffec00;
	display:inline-block;
}

